/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  /* padding: var(--body-padding); */
  font-family: var(--main-font, monospace, sans-serif);
  font-size: var(--main-font-size);
  line-height: var(--main-font-line-height);
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--bg-color);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  .page {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --main-heading-color: #db00ff;
    --header-text-color: #ff0070;
    --header-text-color-rgb: rgba(255, 0, 112, 0.4);
    --header-description-color: #000028;
    --content-text-heading-color: var(--accent-color);

    background-image: url(../images/cover-image-dark.png);
  }
  .page .header__decorative_element {
    visibility: visible;
  }
}

@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #fff1f7;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --main-heading-color: #ffc2e6;
    --header-text-color: #353430;
    --header-text-color-rgb: rgba(53, 52, 48, 0.4);
    --header-description-color: #353430;
    --content-text-heading-color: #353430;

    background-image: url(../images/cover-image-light.png);
  }
  .page .header__decorative_element {
    visibility: hidden;
  }
}

.header {
  display: grid;
  margin-block-end: 40px;
  color: var(--header-text-color);
  position: relative;
  /* height: 648px; */
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 35% 30% 35%;
  padding: var(--body-padding);
  /* aspect-ratio: 375/668; */
}
.decorative-angles::before {
  content: "";
  display: block;
  position: absolute;
  right: var(--body-padding);
  top: var(--body-padding);
  height: 25px;
  width: 25px;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  /* justify-self: end; */
}
.decorative-angles::after {
  content: "";
  display: block;
  position: absolute;
  left: var(--body-padding);
  bottom: var(--body-padding);
  height: 25px;
  width: 25px;
  border-left: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  /* margin-block-start: 8.73%; */
}

.header__decorative_element {
  text-transform: uppercase;
  position: absolute;
  top: var(--body-padding);
  right: var(--body-padding);
  width: fit-content;
  padding-right: 28px;
}
.header__decorative_element::after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  background-color: currentColor;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px currentColor;
  margin: 8px;
  /* background-image: url(../images/rec-decorative-element.png); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  top: 0;
  right: 0;
}

.header__theme-menu {
  margin-top: 65px;
  align-self: start;
  justify-self: end;
  /* margin: 18% 0 18% 0; */
}
.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin: 0;
}
.header__theme-menu-button {
  background-color: transparent;
  border: none;
  text-transform: lowercase;
  padding: 0 12px;
  cursor: pointer;
}
.header__theme-menu-button:hover {
  border-width: 1px;
  border-style: solid;
  border-color: var(--header-text-color-rgb);
}
.header__theme-menu-button:focus {
  outline: none;
}
.header__theme-menu-button:focus-visible {
  /* outline: 1px solid currentColor; */
  outline: none;
  border-bottom: 1px solid currentColor;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  /* margin: 5px 0; */
  pointer-events: none;
}
.header__title {
  /* margin: 0 0 15.75% 0; */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  color: var(--main-heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  align-self: end;
}
.header-description {
  align-self: center;
}

.main-content {
  padding: 0 var(--body-padding);
}

/* header text + h3 */
.title-decor {
  background-color: var(--accent-color);
  color: var(--header-description-color);
  font-weight: bold;
}
/* h2 */
.content-text-heading {
  font-size: var(--main-font-size);
  color: var(--content-text-heading-color);
  margin: 0 0 20px;
}
/* h3 */
.content-text-subheading {
  font-size: var(--main-font-size);
  margin: 0 0 10px;
}
/* h4 */
.content-text-subtitle {
  font-weight: normal;
  margin: 0 0 10px;
}
/* h4 directly after h3 + 10 px */
.content-text-subheading + .content-text-article {
  /* margin-top: 20px; */
  margin-block-start: 20px;
}
/* one article */
.content-text-one-article {
  margin-bottom: 20px;
}
.content-text-one-article:last-child {
  margin-bottom: 0;
}
/* p */
.content-text-paragraph {
  color: var(--text-color);
}
/* a - link */
.content-text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}
.content-text-link:hover {
  border-bottom: 1px solid currentColor;
}
.content-text-link:focus {
  outline: none;
}

.content-text-link:focus-visible {
  outline: 1px solid currentColor;
}

.content-text {
  margin-block-end: 50px;
}
.content-gallery-image-set {
  display: grid;
  gap: 10px;
  margin-block-end: 40px;
}
.content-gallery-image {
  width: 100%;
  /* object-fit: contain; */
}

.footer {
  display: grid;
  position: relative;
  color: var(--header-text-color);
  height: 100vh;
  min-height: 668px;
  padding: var(--body-padding);
}
.footer-heading {
  /* margin: 88.56% 0 71.2%; */
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  color: var(--main-heading-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  justify-content: center;
  align-self: center;
}

@media (width>=768px) {
  .page {
    --body-padding: 20px;
  }
  .header {
    min-height: 1024px;
    grid-template-rows: 38% 17% 45%;
    margin-block-end: 60px;
  }
  .header__theme-menu {
    justify-self: end;
    /* margin: 23.62% 0 23.62% 0; */
    align-self: center;
    /* margin-top: 172px; */
  }
  .header__theme-menu-list {
    row-gap: 12px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    /* margin: 0 0 22.5% 0; */

    position: relative;
    left: -20px;
    align-self: end;
  }
  .header-description {
    width: 50%;
    justify-self: end;
    align-self: center;
  }
  .why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--body-padding);
  }

  .content-text {
    margin-block-end: 80px;
  }
  .what .content-text-heading {
    width: calc((100% - var(--body-padding)) / 3);
    /* width: 30%; */
  }
  .how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: var(--body-padding);
  }
  .content-gallery .content-text-subheading {
    margin-block-end: var(--body-padding);
  }
  .content-gallery-image-set {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 24.6% 29.5% 40.76%;
    gap: var(--body-padding);
    margin-block-end: 60px;
    /* grid-auto-flow: dense; */
  }
  .content-gallery-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .sunset {
    grid-column-start: 1;
    grid-column-end: span 2;
  }
  .ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: span 2;
  }
  .tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: span 2;
  }
  .street {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: span 2;
  }
  .footer {
    min-height: 1024px;
  }
  .footer-heading {
    align-self: center;
    justify-self: center;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-height: 768px;
    grid-template-rows: 40% 20% 40%;
  }
  .header__title {
    align-self: center;
  }
  .header-description {
    width: 50%;
    justify-self: end;
    align-self: center;
  }
  .why {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--body-padding);
  }
  .why .content-text-all-articles {
    grid-column-start: 2;
    grid-column-end: span 2;
  }
  .what .content-text-all-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--body-padding);
  }
  .how {
    grid-template-columns: repeat(3, 1fr);
    column-gap: var(--body-padding);
  }
  .how .content-text-all-articles {
    grid-column-start: 2;
    grid-column-end: span 2;
  }
  .header__theme-menu {
    margin: 0;
    justify-self: center;
    align-self: start;
  }
  .header__theme-menu-list {
    flex-direction: row;
    column-gap: 10px;
    align-items: baseline;
  }

  .decorative-angles::after {
    /* margin-block-start: 9%; */
  }
  .content-gallery-image-set {
    grid-template-rows: 24.6% 30.05% 41.5%;
  }
  .footer {
    min-height: 768px;
  }
  .footer-heading {
    align-self: center;
  }
}
