/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --main-heading-color: #db00ff;
  --header-text-color: #ff0070;
  --header-text-color-rgb: rgba(255, 0, 112, 0.4);
  --header-description-color: #000028;
  --content-text-heading-color: var(--accent-color);

  --main-font: "IBM Plex mono";
  --main-font-size: 18px;
  --main-font-line-height: 23.4px;
  --body-padding: 10px;
}
